.container {
    display: flex;
    justify-content: center;
}
.training-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 600px;
}

.training-form {
    display: flex;
}

.training-submit {
    display: flex;
}