.workout-diagram {
    margin-bottom: 50px;

}

.workout-balken {
    height: 100px;
    width: 500px;
    display: flex;
    gap: 70px;
}

.workout-dates {
    display: flex;
    gap: 45px;
}

.chest-triceps-workout-element {
    height: 80px;
    width: 40px;
    background-color: orange;
    border-style: solid;
    border-color: black;
}

.back-biceps-workout-element {
    height: 80px;
    width: 40px;
    background-color: red;
    border-style: solid;
    border-color: black;
}

.shoulders-traps-workout-element {
    height: 80px;
    width: 40px;
    background: yellow;
    border-style: solid;
    border-color: black;
}

.legs-core-workout-element {
    height: 80px;
    width: 40px;
    background-color: blue;
    border-style: solid;
    border-color: black;
}

.boxing-workout-element {
    height: 80px;
    width: 40px;
    background-color: brown;
    border-style: solid;
    border-color: black;
}

.empty-workout-element {
    height: 80px;
    width: 40px;
    border-style: solid;
    border-color: black;
}